function Ball.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push argument 3
    pop this 3
    push constant 8
    pop this 4
    push constant 2
    pop this 5
    push pointer 0
    return
function Ball.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 4
    push constant 2
    call Math.divide 2
    call Screen.drawCircle 3
    pop temp 0
    push constant 0
    return
function Ball.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 4
    push constant 2
    call Math.divide 2
    call Screen.drawCircle 3
    pop temp 0
    push constant 0
    return
function Ball.overlapsWith 8
    push argument 0
    pop pointer 0
    push argument 1
    call Player.getX 1
    pop local 0
    push argument 1
    call Player.getY 1
    pop local 1
    push argument 1
    call Player.getWidth 1
    pop local 2
    push argument 1
    call Player.getHeight 1
    pop local 3
    push this 0
    push this 4
    sub
    push constant 2
    call Math.divide 2
    pop local 4
    push this 1
    push this 4
    sub
    push constant 2
    call Math.divide 2
    pop local 5
    push this 0
    push this 4
    add
    push constant 2
    call Math.divide 2
    pop local 6
    push this 1
    push this 4
    add
    push constant 2
    call Math.divide 2
    pop local 7
    push local 6
    push local 0
    lt
    push local 4
    push local 0
    push local 2
    add
    gt
    or
    push local 7
    push local 1
    lt
    or
    push local 5
    push local 1
    push local 3
    add
    gt
    or
    not
    if-goto Ball_1
    push constant 0
    return
    goto Ball_0
label Ball_1
label Ball_0
    push constant 1
    neg
    return
function Ball.update 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Ball.erase 1
    pop temp 0
    push this 0
    push this 2
    push this 5
    call Math.multiply 2
    add
    pop this 0
    push this 1
    push this 3
    push this 5
    call Math.multiply 2
    add
    pop this 1
    push this 1
    push constant 4
    lt
    not
    if-goto Ball_3
    push constant 4
    pop this 1
    push this 3
    neg
    pop this 3
    goto Ball_2
label Ball_3
label Ball_2
    push this 1
    push constant 252
    gt
    not
    if-goto Ball_5
    push constant 252
    pop this 1
    push this 3
    neg
    pop this 3
    goto Ball_4
label Ball_5
label Ball_4
    push pointer 0
    call Ball.draw 1
    pop temp 0
    push constant 0
    return
function Ball.invertX 0
    push argument 0
    pop pointer 0
    push this 2
    neg
    pop this 2
    push constant 0
    return
function Ball.reset 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 0
    push argument 2
    pop this 1
    push argument 3
    pop this 2
    push argument 4
    pop this 3
    push constant 0
    return
function Ball.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Ball.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return