function Game.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 5
push constant 100
push constant 1
call Paddle.new 3
pop this 0
push constant 495
push constant 100
push constant 2
call Paddle.new 3
pop this 1
push constant 250
push constant 120
call Ball.new 2
pop this 2
call Score.new 0
pop this 3
call Screen.clearScreen 0
pop temp 0
push pointer 0
return
function Game.run 1
push argument 0
pop pointer 0
push constant 0
not
pop local 0
label WHILE_EXP0
push local 0
not
if-goto WHILE_END0
push this 0
call Paddle.update 1
pop temp 0
push this 1
call Paddle.update 1
pop temp 0
push this 2
push this 0
push this 1
push this 3
call Ball.update 4
pop temp 0
call Screen.clearScreen 0
pop temp 0
push this 0
call Paddle.draw 1
pop temp 0
push this 1
call Paddle.draw 1
pop temp 0
push this 2
call Ball.draw 1
pop temp 0
push this 3
call Score.draw 1
pop temp 0
push constant 20
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
